[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-bootstrap-components = "*"
datetime = "*"
pandas = "*"
numpy = "*"
yfinance = "*"
dash-table = "*"
plotly = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.7"
